#myList {
  margin: 0;
  display: block;
  padding: 0;
  display: block;
}

#myList li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size: 1.4em;
  color: rgb(0, 204, 255);
}

.jumbotron {
  background-image: url('https://images.pexels.com/photos/655674/pexels-photo-655674.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}